* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "helveticano", sans-serif;
    src: url(/helveticanowtext-black-demo.ttf);
}

@font-face {
    font-family: "Lay Grotesk - Trial", sans-serif;
    src: url(/laygrotesk-trial-regular.otf);
}

body {
    font-family: helveticano, sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
    line-height: 1;
    font-family: "Lay Grotesk - Trial", sans-serif;
}

p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 1em;
}

.col span {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-family: "helveticano", sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 1.5em 2em;
}

nav .col:nth-child(1) {
    display: flex;
}

nav .col:nth-child(2) {
    text-align: right;
}

nav span {
    color: #909090;
    mix-blend-mode: difference;
}

.col,
.sub-col {
    flex: 1;
}

section {
    position: relative;
    /* width: 100vw; */
    padding: 2em;
    height: 100svh;
}

.hero,
.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero .header {
    width: 40%;
    text-align: center;
}

.hero .header h1 {
    color: #909090;
}

.about-img {
    height: max-content;
    padding: 8em 2em;
}

.about-img img {
    width: 20%;
    aspect-ratio: 4/5;
}

.about,
.philosophy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.philosophy {
    background-color: #202020;
}

.philosophy h1,
.philosophy span {
    color: #fff;
}

.about h1,
.philosophy h1 {
    text-indent: 25%;
}

.story {
    height: max-content;
    display: flex;
    gap: 1em;
    margin-bottom: 8em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;
    padding: 6em 2em 1.5em 2em;
}

footer .col {
    display: flex;
    justify-content: flex-end;
}


footer .sub-col {
    display: flex;
    justify-content: flex-end;
}

.line {
    transform: translateY(100%);
    will-change: transform;
}

.header h1 span {
  display: inline-block; /* keep letters on same line */
  white-space: pre;      /* preserve spaces */
}
